* {
    bg-col:  #1d202f;
    bg-col-light: #1d202f;
    border-col: #24283b;
    selected-col: #24283b;
    blue: #7aa2f7;
    fg-col: #c0caf5;
    fg-col2: #f7768e;
    grey: #24283b;
    width: 800;
}
